

$darkPrimaryColor:   #FFA000;
$primaryColor:       #FFC107;
$lightPrimaryColor:  #FFECB3;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #FFC107;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
