
// This is template for your branding colors
// This colors will be applied to all
// modules that this framework has
// branding colors means your site's branding colors


// change this colors

$darkPrimaryColor:   #455A64;
$primaryColor:       #607D8B;
$lightPrimaryColor:  #CFD8DC;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #607D8B;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
