
$darkPrimaryColor:   #0097A7;
$primaryColor:       #00BCD4;
$lightPrimaryColor:  #B2EBF2;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #00BCD4;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
