$darkPrimaryColor:   darken(#555, 15%);
$primaryColor:       darken(#555, 5%);
$lightPrimaryColor:  lighten($primaryColor, 25%);
$textPrimaryColor:   #CFD8DC;
$accentColor:         #616161;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
