
$darkPrimaryColor:   #E64A19;
$primaryColor:       #FF5722;
$lightPrimaryColor:  #FFCCBC;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #FF5722;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
