
$darkPrimaryColor:   #512DA8;
$primaryColor:       #673AB7;
$lightPrimaryColor:  #D1C4E9;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #7C4DFF;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
