
$darkPrimaryColor:   #388E3C;
$primaryColor:       #4CAF50;
$lightPrimaryColor:  #C8E6C9;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #4CAF50;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
