
$darkPrimaryColor:   #689F38;
$primaryColor:       #8BC34A;
$lightPrimaryColor:  #DCEDC8;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #8BC34A;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
