
$darkPrimaryColor:   #AFB42B;
$primaryColor:       #CDDC39;
$lightPrimaryColor:  #F0F4C3;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #CDDC39;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
