
$darkPrimaryColor:   #F57C00;
$primaryColor:       #FF9800;
$lightPrimaryColor:  #FFE0B2;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #FF9800;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
