
$darkPrimaryColor:   #7B1FA2;
$primaryColor:       #9C27B0;
$lightPrimaryColor:  #E1BEE7;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #E040FB;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
