
$darkPrimaryColor:   #D32F2F;
$primaryColor:       #F44336;
$lightPrimaryColor:  #FFCDD2;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #FF5252;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
