$darkPrimaryColor:   #00796B;
$primaryColor:       #009688;
$lightPrimaryColor:  #B2DFDB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #009688;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
