$darkPrimaryColor:   #B6B6B6;
$primaryColor:       transparent;
$lightPrimaryColor:  #CFD8DC;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #B6B6B6;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
