
$darkPrimaryColor:   #FBC02D;
$primaryColor:       #FFEB3B;
$lightPrimaryColor:  #FFF9C4;
$textPrimaryColor:   #555;
$accentColor:        #FFEB3B;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
