body {
    padding: 0;
    margin: 0;
    color: $body-text-color;
    background: lighten($body-background, 5%);
}
.container {
margin-top:$container-margin;
margin-bottom: $container-margin;
  overflow-x: hidden;
}
#container {

  margin-top: 40px;

}
.bg-white {
  background-color: white;
}
.rounded {
  border-radius: 50%;
}
.like-message {
  text-align: right;
  color: $danger-color;
  float: right;
  right: 0;
  position: absolute;

}
li {
  list-style-type: none;
}
// Scrollbar style
::-webkit-scrollbar {
  background:transparent;
  overflow:visible;
  width:15px;
}
::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,0.2);
  border:solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:horizontal {
  border-width:4px 6px;
  min-width:40px;
}
::-webkit-scrollbar-thumb:vertical {
  border-width:6px 4px;
  min-height:40px;
}
::-webkit-scrollbar-track-piece{
  background-color:#fff;
}
::-webkit-scrollbar-corner {
  background:transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #DDD;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}