
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;

  .tag-line-btn {
    display: inline;
    width: auto;
    margin-top: 5%;

  }
  .search-result {
    min-height: 500px;
    max-height: 650px;
    padding: 0 10% 0% 10%;
    overflow-y: auto;
    .tag-name {

      padding: 10px 0 10px 0;
      .text-warning {
        background: white;
      }

    }

    ul {
      display: block;
      margin: 0 auto;
      li{
        display: block;
        background: transparentize(white, .1);
        padding-bottom: 12px;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 1% 0 1% 1%;
        }
        border-bottom: 1px solid transparentize(grey, .1);
        .title {
          font-size: 14px;
          font-weight: 400!important;
          color: $dark-color!important;
        }
        .author {
          color: $info-color;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  z-index: 9999;
}

#search input[type="search"] {
  position: relative!important;
  width: 90%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  border-bottom: 2px solid  rgb(255, 255, 255);
  margin: 5% auto;
  margin-bottom: 0!important;
  margin-top: 51px!important;
  padding-left: 30px!important;
  padding-right: 30px!important;
  outline: none;
}

#search .btn {
  position: relative;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: $danger-color;
  background-color: #f8f8f8;
  border-color: #357ebd;
  opacity: 1;
  padding: 5px 10px;
  font-size: 22px;
  box-shadow: 0 0 5px 0 lighten(black, 5%);

}

