.text-center {
text-align: center;
}
.text-left {
text-align: left;
}
.text-right{
text-align: right
}
.title {
  font-weight: bold!important;
  font-family: 'Source Sans Pro';
  font-size: $font-size-base*1.2!important;
}